@font-face {
    font-family: 'CrazyGuy';
    src: url("../assets/fonts/CrazyGuy-lRzX.ttf");
}

@font-face {
    font-family: 'Wrong';
    src: url("../assets/fonts/WrongFreeTrial-vm2pM.otf");
}

@font-face {
    font-family: 'Butcher';
    src: url("../assets/fonts/ButcherTheBaker-R8RA.ttf");
}

body {
    background-image: url(/assets/home.png);
    background-size: cover;
    background-blend-mode: multiply;
}

main {
    position: relative;
    height: 83vh;
}

.ancientsContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ancCard {
    width: 200px;
    height: 260px;
    margin: 20px;
    background-size: cover;
    box-shadow: 0px 0px 5px 3px #000;
    border-radius: 5px;
}

.ancCard:hover {
    width: 240px;
    height: 312px;
    position: relative;
    box-shadow: 0px 0px 10px 3px rgb(87, 10, 10);
    border: #000 solid 1px;
}

.ancCardSelect {
    position: relative;
}

.deckContainer {
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0%;
    width: 200px;
    height: 260px;
}

.cardsShirt {
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0%;
    width: 200px;
    height: 260px;
    box-shadow: 0px 0px 5px 3px #000;
    border-radius: 5px;
    background-size: cover;
    border-left: rgb(129, 129, 129) solid 1px;
    border-bottom: rgb(128, 128, 128) solid 1px;
    transform-origin: 50%;
    /* transition: 1s; */
}

.trecker {
    position: absolute;
    top: 5vh;
    left: 32.5vw;
    width: 35vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-family: 'Butcher';
    letter-spacing: 3px;
    box-shadow: inset 0px 0px 10px 5px #000;
    opacity: 0;
    z-index: -1;
}

.firstStage,
.secondStage,
.thirdStage {
    display: flex;
    flex-direction: row;
    margin: 2%;
    width: 91%;
    height: 26%;
    padding-left: 5%;
    justify-content: space-between;
}

.colorContainer {
    display: flex;
    width: 20vw;
    align-items: center;
    margin-right: 5%;
    justify-content: space-around;
}

.fsBlue,
.ssBlue,
.tsBlue {
    background-color: blue;
}

.fsGreen,
.ssGreen,
.tsGreen {
    background-color: green;
}

.fsBrown,
.ssBrown,
.tsBrown {
    background-color: brown;
}

.colorContainer div {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    text-align: center;
    font-size: 18px;
    font-family: 'CrazyGuy';
    padding: 5px;
    box-shadow: inset 0px 0px 15px 5px #000;
}

footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-bottom: 40px;
}

.btnLevelHide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.btnLevel {
    width: 200px;
    height: 20px;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-family: 'Wrong';
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.397);
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 1), 0px -1.5px 4px 3px rgba(255, 255, 255, 1), inset 0px 1.5px 3px 1px rgba(255, 255, 255, 1), inset 0px -3px 1px 0px rgba(0, 0, 0, 1);
}

.btnLevel:hover {
    box-shadow: 0px 0px 15px 3px rgb(138, 10, 10), inset 0px 1.5px 3px 1px rgba(255, 255, 255, 1), inset 0px -3px 1px 0px rgba(0, 0, 0, 1);
    color: rgb(138, 10, 10);
}